# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel

# Frontend
/LeetMentor

#os files
.DS_Store

# Firebase
*-firebase-adminsdk-*.json
*firebase*.json
*serviceAccount*.json
leetmento-firebase-adminsdk-fbsvc-649dd73681.json
#vercel
.vercel/